body
{
    text-align: center;
    margin: auto;
}
#dDetails
{
    width: 730px;
    text-align: left;
}
#list
{
    text-align: left;
}
#dTeam
{
    text-align: left;
}
a:visited
{
    color: blue;
}
.links
{
    text-align: center;
}