body
{
    margin: auto;
    background-color: #555555;
}
footer{
    width: 1024px;
    margin-left: auto;
    left: auto;
    margin-right: auto;
    right: auto;
}
div.page
{
    top: auto;
    left: auto; 
    margin: auto auto 1em auto;
    padding: 0.5em 1em;
    background-color: #e6e6ff;
    width: 1024px;
}
div#pageHeader, div#links
{
    margin: auto;
    width: 800px;
}
h1
{
    text-align: center;
    margin: 0 auto;
}
table.links, table.search
{
    margin: 0 auto;
}
td.links
{
    border: 1px black solid;
    padding: 0px 3px;
    margin: 0 auto;
    text-align: center;
    width: 5em;
}
table.summery
{
    border: 1px black solid;
    padding: 0px 3px;
}
td.field
{
    border: 1px black solid;
}
td.info
{
    background-color: white;
    vertical-align: top;
    word-wrap: normal;
}
td.required
{
    color: red;
    font-weight: bold;   
}
td.center
{
    text-align: center;
}
select.tiers, .edit1, .edit2
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.edit3
{
    width: 325px;
    height: 100%;
    margin: 0;
}
td.d1, td.d4
{
    width: 20%;
}
td.d2, td.d3
{
    width: 30%;
}
table.search
{
    margin: 0 auto;
}
table#details
{
    width: 700px;
    /** overflow: scroll; */
    margin: auto;
}
div.summery
{
    display:none;
}
p#action
{
    text-align: right;
    margin: 0 10px 0 auto;
}
a.title
{
    font-size: large;
    color: green;
    text-decoration: none;
    text-align: center;
}
a.title:visited
{
    color:green;
    text-decoration: none;
}
hr.undertitle
{
    margin: 0 auto;
}
.members
{
    margin: auto;
    width: 700px;
}
.members > tr > td
{
    margin: auto 10px;
}
/*div#dDetails, div#dTeam
{
    display: none;
    background: aqua;
    border-radius: 25px;
    -moz-border-radius: 25px; /* for Firefox 3.6 and eariler */
/*}
/*
div#dDetails
{
    margin: auto;
    width: 700px;
    position: fixed;
    z-index: 2;
}
div#dTeam
{
    margin: auto;
    width: 500px;
    position: fixed;
    z-index:4;
}*/
