table.linksx
{
    margin: auto;
    text-align: center;
}
div#menuHome
{
    margin: 0 0 0 -12.5em;
    text-align: left;
}
div#menuAdmin
{
    margin: 0 0 0 -6em;
    text-align: left;
}
div#menuDev
{
    margin: 0 0 0 3em;
    text-align: left;
}