div#menuHome, div#menuAdmin, div#menuDev
{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #cac2ff;
    width: 10em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox 3.6 and earlier */
}
div#menuHome
{
    margin: 0 0 0 13em;
}
div#menuAdmin
{
    margin: 0 0 0 19em;
}
div#menuDev
{
    margin: 0 0 0 28.5em;
}
ul.menu
{
    list-style-type:none;
    margin: 5px;
    padding: 5px;
}
ul.menu > li
{
    padding: 2px;
    border-radius: 4px;
    -moz-border-radius: 4px; /* Firefox 3.6 and earlier */
    cursor:pointer
    
}
div#linksx
{
    margin: auto;
    width: 800px;
}
table.linksx
{
    margin: auto;
}
