<p>for wild card searches please use % (percent) or * (Star)</p>
<form name="search" id="search" action="javascript:getList();" >
    <table class="search"><tr>
        <td>&nbsp;<!--
   <select name="searchType" id="searchType">
    <option value="name">Name</option>
    <option value="description">Description</option>
   </select>-->
        </td>
        <td>
            <input type="text" name="searchData" id="searchData" />
        </td>
        <td>
            <input type="hidden" name="sent" id="sent" value="yes" />
            <input type="submit" value="Search" />
        </td>
        <td>
            <input type="checkbox" name="chkArchived" id="chkArchived" />Archived Records
        </td>
    </tr></table>
</form>